@-webkit-keyframes resizeBalls {
  from {
    -webkit-transform: scale3d(.5, .5, .5);
    opacity: .5;
  }

  to {
    -webkit-transform: scale3d(.75, .75, .75);
    opacity: 1;
  }
}

@keyframes resizeBalls {
  from {
    transform: scale3d(.5, .5, .5);
    opacity: .5;
  }

  to {
    transform: scale3d(.75, .75, .75);
    opacity: 1;
  }
}

.resizeBalls {
  -webkit-animation-name: resizeBalls;
  animation-name: resizeBalls;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-timing-function: ease-out;
  timing-function: ease-out;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}