html, body {
  margin:     0px;
  padding:    0px;

  width:      100%;
  height:     100%;
  min-width:  100%;
  max-width:  100%;
  min-height: 100%;
  max-height: 100%;

  user-select: none;
  text-size-adjust: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
  /*font-family: 'Roboto', Helvetica, Arial, sans-serif;*/

  background-size: cover;
  background: no-repeat center center fixed;
}