html, body {
  margin:     0px;
  padding:    0px;

  width:      100%;
  height:     100%;
  min-width:  100%;
  max-width:  100%;
  min-height: 100%;
  max-height: 100%;

  user-select: none;
  text-size-adjust: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;  
}

#app {
  margin:     inherit;
  padding:    inherit;

  width:      inherit;
  height:     inherit;
  min-width:  inherit;
  min-height: inherit;
  max-width:  inherit;
  max-height: inherit;

  background-size: cover;
  background: no-repeat center center fixed;
}

.visible {
  display: block;
  visibility: visible;
}

.hidden {
  display: none;
  visibility: hidden;
}

.swashInLinear{-webkit-animation-name:swashInLinear;animation-name:swashInLinear}@-webkit-keyframes swashInLinear{0%{opacity:0;-webkit-transform-origin:50% 50%;-webkit-transform:scale(0,0)}100%{opacity:1;-webkit-transform-origin:50% 50%;-webkit-transform:scale(1,1)}}@keyframes swashInLinear{0%{opacity:0;transform-origin:50% 50%;transform:scale(0,0)}100%{opacity:1;transform-origin:50% 50%;transform:scale(1,1)}}