<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name='viewport'    content='width=device-width, initial-scale=1, user-scalable=no'>
    <meta name='description' content='across_binary - A Journey Through The History Of Information Tecnology'>

    <title>across_binary</title>

    <link rel='stylesheet' type='text/css' href='./styles/lib/normalize.min.css'>

    <!-- # In Production:

      <link rel='stylesheet' type='text/css' href='https://gitcdn.link/repo/angular/bower-material/master/angular-material.min.css'>
    -->
    
    <!-- <link rel='stylesheet' type='text/css' href='./styles/lib/angular-material.min.css'> -->
    <link rel='stylesheet' type='text/css' href='./styles/lib/animate.min.css'>
    <link rel='stylesheet' type='text/css' href='./styles/lib/magic.min.css'>
    <link rel='stylesheet' type='text/css' href='./styles/lib/dynamic.min.css'>
    <!-- <link rel='stylesheet' type='text/css' href='./css/animations.css'> -->
    <link rel='stylesheet' type='text/css' href='./styles/main.css'>

    <!-- # In Production:

      <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
      <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-animate.min.js"></script>
      <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-aria.min.js"></script>
      <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-material.min.js"></script>
    -->

    <script type="text/javascript" src="./scripts/lib/angular.min.js"></script>

    <!-- # Angular Material Dependencies:

      <script type="text/javascript" src="./scripts/lib/angular-animate.min.js"></script>
      <script type="text/javascript" src="./scripts/lib/angular-aria.min.js"></script>
      <script type="text/javascript" src="./scripts/lib/angular-material.min.js"></script>
     -->
    <!-- <script type="text/javascript" src="./scripts/lib/zoom.js"></script> -->
    <script type="text/javascript" src="./scripts/utils.js"></script>
    <script type="text/javascript" src="./scripts/main.js"></script>
  </head>

  <body>
    <div id="app" ng-app="across_binary" ng-controller="appBackgroundController">
      <div id="timeline" ng-controller="timelineController">      
        
        <div id="it-ages"
             ng-mouseover=""             
             ng-repeat="age in itAges track by age.name">

          <div ng-class="['it-period', age.name]"
               ng-click="exploreAge($event)"
               id="{{age.name}}"
               ng-cloak>
          </div>

        </div>
      </div>
    </div>
  </body>
</html>
