html, body {
  margin:                    0px;
  padding:                   0px;

  width:                    100%;
  height:                   100%;
  min-width:                100%;
  max-width:                100%;
  min-height:               100%;
  max-height:               100%;

  user-select:              none;
  touch-callout:            none;
  text-size-adjust:         none;
  -webkit-user-select:      none;
  -webkit-touch-callout:    none;
  -webkit-text-size-adjust: none;

  background-size: cover;
  background: no-repeat center center fixed;
}

#app {
  margin:           inherit;
  padding:          inherit;

  width:            inherit;
  height:           inherit;
  min-width:        inherit;
  max-width:        inherit;
  min-height:       inherit;
  max-height:       inherit;

  background:       inherit;
  background-size:  inherit;
  background-color: #000000;
}
